.MainPage {
    padding-top: 200px;
}

.img {
    max-width: 50%;
    margin: 0 10px;
    border-radius: 100%;
}

.subtitle {
    display: block;
    font-size: 28px;
    line-height: 110%;
    margin-bottom: 15px;
}

.text {
    display: block;
    position: absolute;
    font-size: 23px;
    margin: 0 10px;
    line-height: 110%;
    background: var(--main-color-light);
    color: var(--main-color);
    padding: 20px;
    border-radius: 23px 23px 23px 0px;
    align-self: flex-end;
    max-width: 50%;
    margin-bottom: 10px;
    box-shadow: 4px 0px 10px 0px rgba(0,0,0, 0.6);
    transform: translate(5%, -80%);
}

.column {
    display: flex;
    flex-direction: column;
}

.video {
    background: var(--main-color);
    border-radius: 23px;
    margin-top: 50px;
    padding: 20px;
}

.arrow {
    display: block;
    position: absolute;
    transform: translateX(50%);
    top: 50%;
    right: 30%;
}


.arrow:hover {
    cursor: pointer;
}

.arrow path {
    stroke: var(--main-color);
    stroke-width: 10;
    stroke-dashoffset: 1500;
    stroke-dasharray: 1500;
    animation: draw 10s linear infinite;
}

.arrow:hover > path {
    stroke-dashoffset: 0;
}


@keyframes draw {

    25%, 75%{
        stroke-dashoffset: 0;
    }

}